article {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 50px auto;
    background: #EEE;
    color: $background-color;
    box-shadow: 0 5px 15px transparentize(#000, 0.75);

    figure {
        line-height: 0;
        text-align: center;

        figcaption {
            font-size: 22px;
            line-height: 32px;
            text-align: left;
            padding: 15px 15px 10px 15px;
            font-family: "League Spartan";
        }
    }

    .actions {
        padding: 13px 15px 10px 15px;
        font-size: 16px;
        font-family: "League Spartan";

        .likes {
            &, a, a:visited {
                color: #FF5C64;
            }

            a:hover {
                text-decoration: none;
                border-bottom: 2px solid #FF5C64;
            }
        }

        .socials {
            float: right;

            a, a:visited {
                margin-left: 15px;

                &.tw-link {
                    color: #55ACEE;

                    &:hover {
                        text-decoration: none;
                        border-bottom: 2px solid #55ACEE;
                    }
                }

                &.fb-link {
                    color: #3B5998;

                    &:hover {
                        text-decoration: none;
                        border-bottom: 2px solid #3B5998;
                    }
                }
            }
        }
    }
}

a.next {
    background-color: $rocketleague-orange;
    height: 60px;
    line-height: 64px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 50px auto;
    text-align: center;
    display: block;
    transition: opacity 0.15s linear;
    font-family: "League Spartan";
    text-transform: uppercase;
    box-shadow: 0 5px 15px transparentize(#000, 0.75);

    &.active, &:hover, &:active, &:focus {
        text-decoration: none;
        outline: none;
        opacity: 0.7;
    }
}
