.soon {
    width: 100%;
    text-align: center;

    img {
        margin: 20px 0;
    }

    .btn {
        background-color: $rocketleague-orange;
        height: 60px;
        line-height: 64px;
        padding: 0 15px;
        margin: 10px;
        width: auto;
        text-align: center;
        display: inline-block;
        transition: opacity 0.15s linear;
        font-family: "League Spartan";
        text-transform: uppercase;
        box-shadow: 0 5px 15px transparentize(#000, 0.75);

        &.active, &:hover, &:active, &:focus {
            text-decoration: none;
            outline: none;
            opacity: 0.7;
        }
    }
}
