{% extends 'AppMainBundle::layout.html.twig' %}

{% block main %}
    {% for i in 0..4 %}
        <article>
            <figure>
                <figcaption>Légende associée</figcaption>
                <img data-gifffer="https://media.giphy.com/media/VlI696ImQcaA0/giphy.gif" />
            </figure>
            <div class="actions">
                <div class="socials">
                    <a href="#" class="tw-link">Share on Twitter</a>
                    <a href="#" class="fb-link">Share on Facebook</a>
                </div>
                <div class="likes">
                    <a href="#">7630 Likes</a>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}
