{% extends 'AppMainBundle::layout.html.twig' %}

{% block main %}
    {% for post in posts %}
        <article>
            <figure>
                <figcaption>{{ post.title }}</figcaption>
                <div class="gfyitem" data-id="{{ post.gfycatKey }}" data-autoplay=false></div>
            </figure>
        </article>
    {% endfor %}
{% endblock %}
