{% extends 'AppMainBundle::layout.html.twig' %}

{% block main %}
    {% for post in posts %}
        <article>
            <figure>
                <figcaption>{{ post.title }}</figcaption>
                <div class="gfyitem" data-id="{{ post.gfycatKey }}" data-autoplay=false></div>
            </figure>
            <div class="actions">
                <div class="socials">
                    <a href="#" class="tw-link">Share on Twitter</a>
                    <a href="#" class="fb-link">Share on Facebook</a>
                </div>
                <div class="likes">
                    <a href="#">7630 Likes</a>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}
