{% extends 'AppMainBundle::layout.html.twig' %}

{% block main %}
    <div class="soon">
        <h2>Sorry, no more plays!</h2>
        <div class="text-center">
            <img class="game_header_image_full" src="http://cdn.akamai.steamstatic.com/steam/apps/252950/header.jpg?t=1442440730"></img>
        </div>
        <p class="strong">Now it's your turn to make plays!</p>
        <p>
            <a href="http://store.steampowered.com/app/252950/?l=french" class="btn">Buy the game on Steam...</a>
            <a href="http://rocketleague.psyonix.com" class="btn">See the developer website</a>
            <a href="https://rocket-league.com" class="btn">See the fan made website</a>
        </p>
        <p><a href="mailto:rocketgif.app@gmail.com">Send us your plays by <strong>clicking HERE</strong>!</a></p>
    </div>
{% endblock %}
