{% extends 'AppMainBundle::layout.html.twig' %}

{% block main %}
    Sorry, no more plays! Come back soon or add your own plays <a href="#">HERE</a>.

    <a href="{{ path('app_main_homepage') }}">Go back to homepage</a>
{% endblock %}
